# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
gronos
debug

# Test binary, build with `go test -c`
*.test

# System folders
.DS_Store

# bin flder
bin/*

# Vendor
vendor/*
!vendor/vendor.json

# VSCode Workspaces
*.code-workspace

# Temp dir
tmp

# dive docker
dive.log

# private folder used to app engine deploy go-1.13
private

# Compiled binary
evmd-gronos

# Dev vars
export_vars.sh

# Goland config files
*.xml
*.iml
.idea